// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$font-size-middle: 1.4rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main-color: #919191;
$border-color: #707070;
$light-color: #F0F0F0;
$text-color: #888282;
$off-white: #f8f8f8;
$black: #2b2b2b;
$current-blue: #BBDEFF;

$icon-purple: #B6ABE4;
$icon-pink: #B5179D;
$icon-skyblue: #ABC9E3;
$icon-yellow: #F2EFAC;
$icon-lightgreen: #B8EDE1;