.calendar{
    margin-top: 4vh;

    &-navigation{
        justify-content: space-between;
        height: 4vh;
    }

    &-flex{
        flex-wrap: wrap;
        color: #888282;
    }
    &-head{
        height: 4vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &.current span{
            background-color: #FCD1D1;
            border-radius: 50%;
            padding: 0 1vw;
        }
    }
    &-item{
        width: calc(100% / 7);
        border-bottom: solid 1px #F0F0F0;
        border-right: solid 1px #F0F0F0;

        &-head{
            text-align: center;
            font-weight: bold;
            display: block;
            width: calc(100% / 2);
            margin: 0 auto;

            &.current{
                background-color: #D4EAFF;
                border-radius: 50%;
            }
        }
    }
    &-day{
        height: calc(82vh / 5);

        &.expanded{
            height: calc(82vh / 6)!important;
        }
    }
}