.calendar{
    margin-top: 4vh;

    &-navigation{
        justify-content: space-between;
        height: 4vh;
    }

    &-flex{
        flex-wrap: wrap;
        color: #888282;
    }
    &-head{
        height: 4vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &.sunday span{
            color: red;
        }
    }
    &-item{
        width: calc(100% / 7);
        border-bottom: solid 1px #F0F0F0;
        border-right: solid 1px #F0F0F0;
        overflow: hidden;
        padding: 0 .5vw;

        &-head{
            text-align: center;
            font-weight: bold;
            display: block;
            width: calc(100% / 2);
            margin: 1vh auto;

            &.current{
                background-color: #D4EAFF;
                border-radius: 50%;
            }
        }
        &-checked{
            color: #fff;
            font-size: 0.7rem;
            white-space: nowrap;
            border-radius: 2px;
            text-align: center;
            padding-left: .5vw;
        }
    }
    &-day{
        height: calc(82vh / 5);

        &.expanded{
            height: calc(82vh / 6)!important;
        }
    }
}