.calendar{
    margin-top: 4vh;
    position: relative;

    &-navigation{
        justify-content: space-between;
        height: 4vh;
    }

    &-flex{
        flex-wrap: wrap;
        color: #888282;
    }
    &-head{
        height: 4vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &.sunday span{
            color: red;
        }
    }
    &-item{
        width: calc(100% / 7);
        border-bottom: solid 1px #F0F0F0;
        border-right: solid 1px #F0F0F0;
        overflow: hidden;
        padding: 0 .5vw;

        &-head{
            text-align: center;
            font-weight: bold;
            display: block;
            width: calc(100% / 2);
            margin: 1vh auto;

            &.current{
                background-color: #D4EAFF;
                border-radius: 50%;
            }
        }
        &-checked{
            color: #fff;
            font-size: 0.7rem;
            white-space: nowrap;
            border-radius: 2px;
            text-align: center;
            padding-left: .5vw;
        }
        &-event{
            font-size: .6rem;
            white-space: nowrap;
            span{
                display: inline-block;
                width: 2vw;
                height: 2vw;
                border-radius: 50%;
            }
        }
    }
    &-day{
        height: calc(82vh / 5);

        &.expanded{
            height: calc(82vh / 6)!important;
        }
    }

    &-add{
        position: absolute;
        bottom: 5vh;
        right: 5vw;
        display: flex;
        align-items: center;
        justify-content: center;

        &-button{
            width: 15vw;
            height: 15vw;
            display: block;
            align-items: center;
            justify-content: center;
            background-color: #919191;
            border-radius: 50%;
            border: none;
            box-shadow: 0px 0px 7px #919191;
            i{
                font-size: 2.2rem;
                color: #fff;
            }
        }
        &-modal{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: #919191;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #EDEDED;
                opacity: .5;
            }

            &-inner{
                position: absolute;
                width: 96%;
                height: 36.5%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #EDEDED;
                border: solid 1px #707070;
                overflow-x: hidden;

                &-main{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: translate(0, 0);
                    transition: .4s;
                    &[data-visibility="hidden"]{
                        transform: translate(-100%, 0);
                    }
                }
                &-color{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: translate(100%, 0);
                    transition: .4s;
                    &[data-visibility="visible"]{
                        transform: translate(0, 0);
                    }
                    .color-title{
                        display: flex;
                        align-items: center;
                    }
                    .color-area{
                        display: flex;
                        width: 40%;
                        flex-wrap: wrap;
                        margin: 0 auto;
                        justify-content: space-around;
                        .color-circle{
                            width: 10vw;
                            height: 10vw;
                            border-radius: 50%;
                            &[aria-checked=true]{
                                border: solid 2px #707070;
                            }
                        }
                        .color-circle-input{
                            visibility: hidden;
                        }
                    }
                }
                &-head{
                    justify-content: space-around;
                    align-items: center;
                }
                &-block{
                    padding: 1vh 0;
                    display: flex;
                    &:not(:last-child){
                        border-bottom: solid 1px #707070;
                    }
                    &:first-child{
                        border-bottom: solid 1px #707070;
                    }
                }
                &-form{
                    background-color: transparent;
                    border: none;
                }
                &-icon{
                    width: 7vw;
                    margin-left: 5vw;
                    font-size: 1.6rem;
                    margin-right: 3vw;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;

                    img{
                        width: 100%;
                    }
                }
                .color-icon{
                    border-radius: 50%;
                    display: block;
                    width: 5vw;
                    height: 5vw;
                }
                &-text{
                    margin-bottom: .5rem;
                }
            }
        }
    }

    &-detail{
        &-body{
            padding: 5vw;
            color: #919191;
        }
        &-head{
            margin-bottom: 2vh;

            &-title{
                border-bottom: solid 2px #707070;
                margin-bottom: 2vh;
                padding-bottom: 1vh;
            }
        }
        &-info{
            border-bottom: solid 2px #707070;

            &-period{
                flex: 1;
                margin-bottom: 0;
            }
            &-course{
                flex: 1;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                &-block{
                    width: 2vw;
                    height: 2vw;
                    display: block;
                    margin-right: 1.5vw;
                }
            }
        }
    }

    &-detail-item{
        padding: 2vw;
        border-radius: 5px;
        position: relative;
    }

    &-checked-item{
        color: #fff;

        &::after{
            content: attr(data-course);
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translate(0, -50%);
            color: #fff;
            opacity: .5;
            font-size: 1.2rem;
        }
        &-title{
            font-size: 1.2rem;
        }
        &-memo{
            font-size: 0.8rem;
            margin-bottom: 1vh;
        }
    }

    &-event-item{
        border: solid 1px #707070;
        margin-bottom: 1vh;
        &-title{
            font-size: 0.8rem;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            span{
                display: inline-block;
                width: 3vw;
                height: 3vw;
                border-radius: 50%;
                margin-right: 1vw;
            }
        }
        &-text{
            font-size: 0.6rem;
            margin-bottom: 0;
        }
        &-icon{
            width: 4vw;
        }
        &-edit{
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translate(0, -50%);
        }
    }
}

.el-switch.is-checked {
    .el-switch__core{
        border: solid 1px #707070!important;
        background: #707070!important;
        &::after{
            background-color: #fff!important;
        }
    }
}
.el-input__inner{
    background-color: transparent!important;
    color: #919191!important;
    border: none!important;
}
.el-input--prefix .el-input__inner{
    padding-left: 0!important;
}
.el-input__prefix{
    display: none;
}