.color-area{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
}
.color-circle{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    &[aria-checked=true]{
        border: solid 2px $border-color;
    }
}
.color-circle-input{
    visibility: hidden;
}