.navbar{
    background-color: $main-color;
    position: relative;
    display: block;
    min-height: 6vh;

    &-button-icon{
        color: #fff;
        font-size: 5vw;
    }
    &-title{
        text-align: center;
    }
    &-title{
        color: #fff;
        margin-bottom: 0;
    }
    &-hamburger{
        position: absolute;
        top: 50%;
        left: 10vw;
        transform: translate(0, -50%);
    }
    &-hamburger-menu{
        background-color: $main-color;
        position: fixed;
        width: 80vw;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        transition: .5s;
        z-index: 3;
        color: #fff;
        padding: 5vh 0;
        font-size: 5vw;
        font-weight: normal;

        &.open{
            transform: translate(0, 0);
        }
        &-close{
            position: absolute;
            top: 0;
            right: 2vw;
            color: #fff;
        }
        &-user-name{
            flex: 5;
        }
        &-big{
            padding-left: 6vw;
            i{
                flex: 1;
            }
            a{
                color: #fff;
                flex: 1;
            }
        }
        &-items{
            margin-top: 4vw;
        }
        &-item{
            padding: 3vw 0 3vw 14vw;
            width: 90%;
            border-radius: 0 30px 30px 0;

            a{
                color: #fff;
            }

            &.current{
                background-color: $light-color;
                a{
                    color: $border-color;
                }
            }
        }
        &-logout{
            position: absolute;
            bottom: 2vh;
            left: 0;
            border-top: solid 1px #fff;
            border-bottom: solid 1px #fff;
            width: 100%;
            padding: 2vw 4vw;

            a{
                color: #fff;
            }
        }
    }
}