.modal-base{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    color: $main-color;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #EDEDED;
        opacity: .5;
        z-index: 0;
    }
}
.modal-base-inner{
    position: absolute;
    width: 96%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDEDED;
    border: solid 1px $border-color;
    overflow-x: hidden;
    padding: 2vh 0;
    z-index: 1;
}

.detail-option-overlay{

}
.detail-option-window{
    position: absolute;
    width: 96%;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    padding-bottom: 1vh;
}
.detail-option-block{
    background-color: #fff;
    border-radius: 5px;
}
.detail-option{
    padding: 1vh 0;
    text-align: center;
    &:not(:last-child){
        border-bottom: solid 1px $light-color;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.slide-enter-active, .slide-leave-active{
    transform: translate(-50%, 0);
    transition: transform .3s;
}
.slide-enter, .slide-leave-to{
    transform: translate(-50%, 100%);
}