.setting{
	&-head{
		background-color: $main-color;
		color: #fff;
		padding: 2vh 0;
		position: relative;

		&-back{
			position: absolute;
			top: 40%;
			left: 0;
			color: #fff;
		}
		&-title{
			margin: 0;
			font-size: 1.6rem;
			text-align: center;
		}
	}
}
.setting-head-edit{
	position: absolute;
	color: #fff;
	top: 40%;
	right: 0;
}
.setting-body{
  background-color: $light-color;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.setting-subtitle{
	color: $main-color;
	font-size: 1.2rem;
	padding: 2vh 0 1vh 2vw;
	margin: 0;
}
.setting-text{
	color: $text-color;
}
.setting-list-container{
	background-color: #fff;
	border-top: solid 1px $text-color;
	border-bottom: solid 1px $text-color;
}
.setting-list{
	display: flex;
	align-items: center;
}
.setting-list-icon{
	display: block;
	flex: 1;
	text-align: center;
	color: $text-color;

	img{
		width: 50%;
	}
}
.setting-list-icon-circle{
	width: 7vw;
	height: 7vw;
	border-radius: 50%;
	margin: 0 auto;
}
.setting-list-name{
	flex: 8;
	padding: 3vw 3vw 3vw 8vw;
	color: $main-color;
	margin: 0;

	a{
		color: $main-color;
	}
}
.setting-list-container  {
	.setting-list:not(:last-child){
		.setting-list-name{
				border-bottom: solid 1px $text-color;
		}
	}
}
.setting-modal-confirm{
	width: 40%;
	margin: 2vh auto 0;
	display: flex;
	justify-content: space-around;
}
.setting-edit-block{
	display: flex;
	justify-content: flex-end;
	padding: 1vh 0;
}
.setting-edit-block-inner{
	width: 30%;
	display: flex;
	justify-content: space-around;
}
.setting-end-form{
	display: flex;
	align-items: center;
}
.user-info-item{
	flex: 1;
}
.user-info{
	flex: 2;
}
.btn-password-reset-container{
	position: absolute;
	left: 50%;
	bottom: 20%;
	transform: translate(-50%, 0);
}
.btn-password-reset{
	display: block;
	margin: 0 auto;
}

.mypage-body{
	background-color: #fff;
}
.mypage-head{
	width: 86%;
	margin: 0 auto;
	color: $main-color;
}
.mypage-info{
	font-size: .75rem;
	margin-bottom: .2rem;
}
.mypage-info-block{
	margin: 1rem 0 3rem;
}
.semester-content-body{
	height: 90vh;
	padding: 2vw 0;
	position: relative;
	&> div:not(:last-child){
		transition: transform .5s;
		padding: 0 2vw;
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
	}
}
.semester-surface-body{
	transform: translate(0, 0);
	&[data-visibility="hidden"]{
		transform: translate(-100%, 0);
	}
}
.semester-list-body.semester-list-body{
	transform: translate(100%, 0);
	padding-top: 3vh;
	&[data-visibility="visible"]{
		transform: translate(0, 0);
	}
}
.setting-semester-form{
	width: 86%;
	padding: 2rem;
}
.setting-semester-form-block{
	margin-bottom: 1rem;
}
.setting-semester-form-text{
	font-size: 1rem;
	margin-bottom: .2rem;
}
.setting-semester-button-block{
	position: absolute;
	left: 0;
	bottom: -2vh;
}
.setting-semester-button{
	width: 100vw;
	padding: 1vh 0;
	font-size: 1rem;
}
.setting-semester-save{
	background-color: $current-blue;
}
.setting-semester-delete{
	background-color: $red;
}
.setting-semester-card{
	background-color: #fff;
	width: 96%;
	border-radius: 5px;
	margin: 1vh auto;
	padding: 2vw 4vw;
	border: solid 1px $main-color;
	color: $text-color;
	position: relative;

	&[data-selected="non-selected"]{
		opacity: .5;
	}
}
.semester-option-button{
	position: absolute;
	top: 0;
	right: 0;
	color: $text-color;
}
.setting-semester-card-head{
	font-size: 1.2rem;
	margin-bottom: 1vh;
}
.setting-semester-card-icon{
	width: 5%;
	margin-right: 1vw;
}
.setting-semester-card-date{
	align-items: flex-end;
}
.setting-semester-card-text{
	line-height: 1;
}
.semester-select-button{
	color: $text-color;
	text-decoration: underline;
	text-align: right;
	margin-top: 1rem;
}
.semester-edit-window{
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	width: 80%;
	padding: 2vw;
	border: solid $main-color 2px;
}
.semester-edit-inner{
	margin-bottom: 2vh;
}
.setting-form-text{
	color: $text-color;
	margin-bottom: .1vh;
}
.semester-edit-block{
	margin-bottom: 1vh;
}